<main class="contenedor">
    <section class="hijo_1">
        <div class="hijo_1_1">
            <h2>So, you want to travel to</h2>
            <h1>Space</h1>
            <p>Let’s face it; if you want to go to space, you might as well genuinely go to 
                outer space and not hover kind of on the edge of it. Well sit back, and relax 
                because we’ll give you a truly out of this world experience!</p>
        </div>
        
    </section>
    <section class="hijo_2">
        <div class="hijo_2_2">
            <div>
                <p>Explore</p>
            </div>
        </div>
    </section>
</main>